{% extends 'budget_app/main.html' %}
{% block content %}

<div class="header-bar">
    <a style=" margin-left: 650px;" href="{% url 'logout' %}"> Wyloguj się </a>
    <h1> Gdzie znikają Twoje pieniądze {{request.user}}?</h1>
    <a href="{% url 'piechart' %}">Pokaż wykres</a>
    <a style = "padding-left: 20px;" href="{% url 'add-expense'%}">Dodaj nowe wydatki</a>
</div>

<table style="display: table-row; line-height: 2em; font-size: 20px;">
    {% for expense in expenses %}
    <tr >
        <td style="padding-left: 20px; padding-right: 30px">{{expense.category}}</a>
        <td style="padding-left: 20px; padding-right: 30px">{{expense.expense}}zł</td>
        <td style="padding-left: 450px;font-size: 30px;"><a style="text-decoration: none;" href="{% url 'expense' expense.id %}">&#8505</a></td>
        <td style="font-size: 30px;"><a style="text-decoration: none;" href="{% url 'update-expense' expense.id %}">&#9998</a></td>
        <td style="font-size: 30px;"><a style="text-decoration: none;" href="{% url 'delete-expense' expense.id %}">&#10005</a></td>


    </tr
    {% empty %}
    <h3 style="text-align:center"> Nie masz żadnych wydatków </h3>
    {% endfor %}
</table>



{% endblock content %}
