{% extends 'budget_app/main.html' %}
{% block content %}

<div class="header-bar">
    <a style=" margin-left: 580px;" href="{% url 'logout' %}"> Logout </a>
    <h1> What do you spend your money {{request.user}} ?</h1>
    <a style="text-decoration: none; color: #fff; margin-left: 50px; font-size: 25px;"href="{% url 'piechart' %}">Show chart</a>
    <a style="text-decoration: none; color: #fff; margin-left: 50px; font-size: 25px;" href="{% url 'add-expense'%}">Add expense</a>
</div>

<table>
    {% for expense in expenses %}
    <tr style="padding-left: 20px; font-size: 20px;  display: table-row; line-height: 2em;">
        <td style="padding-left: 20px; padding-right: 30px">{{expense.category}}</a>
        <td style="padding-left: 20px; padding-right: 30px">{{expense.expense}}</td>
        <td style="text-decoration: none;padding-left: 360px; font-size: 32px;"><a href="{% url 'expense' expense.id %}">&#8505</a></td>
        <td style="text-decoration: none;padding-left: 10px; font-size: 30px;"><a href="{% url 'update-expense' expense.id %}">&#9998</a></td>
        <td style="text-decoration: none;padding-left: 10px; font-size: 30px;"><a href="{% url 'delete-expense' expense.id %}">&#10005</a></td>
    </tr
    {% empty %}
    <h3> You have no expenses </h3>
    {% endfor %}
</table>



{% endblock content %}
