{% extends 'budget_app/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Zaloguj się</h1>
</div>

<div class="card-body">
    <form method = "POST">
        {%  csrf_token %}
        <label for="{{ form.username.id_for_label }}">Nazwa użytkownika</label>
        {{ form.username }}

        <label for="{{ form.password.id_for_label }}">Hasło</label>
        {{ form.password }}

        <input style=" margin-top: 10px;"  class="button" type="submit" value="Zaloguj">
    </form>
    <p> Nie masz jeszcze konta?   <a href="{% url 'register' %}">Zarejestruj się</a></p>
</div>


{% endblock content %}