{% extends 'budget_app/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Stwórz swoje konto</h1>
</div>

<div class="card-body">
    <form method = "POST">
        <label>Nazwa użytkownika</label>
        {{form.username}}

        <label>Hasło</label>
        {{form.password1}}

        <label>Potwierdź hasło</label>
        {{form.password2}}
        <input style=" margin-top: 10px;" class="button" type="submit" value="Potwierdź">
    </form>
    <p>Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a></p>
</div>

{% endblock content %}